.excel-table-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin-left: 25px;
  margin-right: 25px;
}
/* .excel-table-container {
  display: flex;
} */
.excel-table {
  margin-bottom: 50px;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}